## data
landsatxplore>=0.13.0
numpy
pillow
pylandsat>=0.6.0
pystac[validation]>=0.5.5
python-dateutil
requests
sentinelsat>=0.14
shapely

## raster
# numpy
rasterio>=1.1.8
rio_toa>=0.3.0
shapely

## dev
dask[array]
fiona
pandas
pyproj>=3.0.0
requests_mock
utm>=0.7.0