## data
numpy
pillow
pystac[validation]==1.0.0
python-dateutil
requests
sentinelsat>=0.14
shapely

## raster
# numpy
rasterio>=1.1.8
rio_toa>=0.3.0
shapely

## dev
dask[array]
fiona
landsatxplore>=0.13.0
pandas
pylandsat>=0.6.0
pyproj>=3.0.0
requests_mock
utm>=0.7.0